* {
    box-sizing: border-box;
}

a {
    color: white;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    padding: 0;
    margin: 0;
}

header {
    background-color: #38d9a9;
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 10000;
}

#fb-page-container {
    margin-top: 80px;
}
.fb-page-wrapper {
    width: calc(340px + 24px);
    max-width: 100%;
    padding: 0 12px 24px;
    margin: 0 auto;
    box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.2);
    border: 2px solid #38d9a9;
}
.page-title {
    word-break: keep-all;
}
.page-category {
    color: darkgray;
}

footer {
    color: white;
}
